div#app {
  main {
    section#app__code-snippet {
      padding: 2rem;
      width: 100%;
      justify-content: center;

      #app__code-snippet__alert {
        position: fixed;
        bottom: 4rem;
        left: 25%;
        margin: 2rem auto;
        width: 50%;
        display: flex;
        justify-content: space-between;

        span {
          svg {
            margin-left: 0.5rem;
          }
        }
        button {
          outline: none;

          @media (min-width: 768px) {
            width: 8rem;
          }
        }
      }

      article {
        margin: 0;

        width: 100%;
        min-height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;

        pre {
          overflow: auto;
          margin: 0;
          height: 100%;

          white-space: pre;
        }

        footer {
          button:first-child {
            display: none;
          }
        }
      }
    }
  }
}
