@import './../../theme-ui';

nav {
  padding-left: 2rem;
  align-items: center;

  a {
    color: $color-primary;
    font-weight: bold;
    text-decoration: none;

    margin: 0 0.5rem;
  }
}

.router__active-link {
  color: $color-accent;
}